$blue: #dddddd;
$lightblue: #33F6FF;

@mixin dimensiones ($sizewidth, $sizeheight) {
widht: $sizewidth;
height: $sizeheight;
}


$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);


body{
	background-color: $blue;
	@include dimensiones (100% , 0);
}

.navbar {
	padding: 0;
}
.navbar-brand {
	font-size: 2rem;
	margin-left: 10px;
}

.nav-link {
	font-size: 1.5rem;
}

.carousel-item {
	height:  100vh;
	min-height: 300px;
	background: no-repeat scroll center scroll;
	-webkit-background-size: cover;
	background-size: cover;
  margin: 0;
}

.carousel-item::before {
	content: "";
	background: $blue;
  opacity: 0.6;
}

.carousel-caption {
 margin-bottom: 300px;
} 

.carousel-caption h5 {
font-size: 6rem;
font-weight: 700;
color: #ffffff;

}


.btn {
	background-color: #9dc8e4;	
	color: $lightblue;
	border-color: white;
	width: 180px;
	height: 50px;
	
}

.btn:hover {
  background-color: #ffcd24;
  color: #33393d;
}

.btn1 {
	background-color: #9dc8e4;	
	color: #666b6e;
	border-color: white;
	width: 180px;
	height: 50px;
	margin-top: 3px;
}

.btn1:hover {
background-color: #ffcd24;
  color: #33393d;}

.btn2 {
	background-color: #9dc8e4;	
	color: $lightblue;
	border-color: white;
	width: 180px;
	height: 50px;
	font-size: 15px;
	margin-left: 10px;
}

.btn2:hover {
background-color: #ffcd24;
  color: #33393d;
}

.btn3 {
	background-color: #0033cc;	
	font-size: 20px;
	color: $lightblue;
	border-color: white;
	width: 380px;
	height: 50px;
	margin-left: 450px;
}

.btn3:hover {
  background-color: red;
}

.breadcrumb {
	margin-top: 55px; 
	background-color: #2aabe4;
}

.btnbread {
	margin-top: 1px;
	margin-left: 5px;
	background-color: #9dc8e4;
	border: 0;
	color: $lightblue;
	height: 40px;
	text-align: center;
}

.btnbread:hover{
	background-color: #ffcd24;
	border-bottom-right-radius: 15px;
	color: #33393d;
}
a {
	text-decoration: none;
	font-size: 13px;
	font-style: italic;
	color: #666b6e;
}

a:hover{
	color: #33393d;
}  





.jumbotron {
 background-image: url("images/carga2.jpg");
 background-size: cover;
 height: 550px;
 font-size: 50px;
 text-shadow: 2px 2px #ccffff;
 color: $lightblue;
}
.jumbo-title{
	margin-left: 20px;
	margin-top: 20px;
}

.jumbo-p {
	margin-left: 20px;
	margin-top: 20px;
}


.ms-0 {
padding: 0px;	

}


.container-fluid {
	padding: 0;
}

.col-sm-6 {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

.border {
	border-color: #0033cc;
	margin-left: autp;
	margin-right: auto;
	width:  100%;
}

.tel {
	font-size: 35px;
	margin-left: 200px;
}


.row {
margin-top: 20px;
margin-left: 5px;
margin-right: 5px;
}

.card-img-top {
	height: 650px;
}

.card {
	margin-right: 2px;
	margin-bottom: 10px;
}

.card-service {
	margin-left: 5px;
}


.texto-img {
	font-size: 70px;
	color: #2aabe4;
	text-align: center;
	margin-top: 100px;
}
footer {
	background-color: #ecf2f9;
	height: 250px;
}

.footer1 {
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

.tel1 {
	font-size: 25px;
	margin-top: 20px;
	margin-left: 20px;
}

.form-row{
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.form-group {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

