body{
	background-color: #ccffff;

}


.btn {

	background-color: #0033cc;	
	color: white;
	border-color: white;
	width: 180px;
	height: 50px;
}

.btn:hover {
  background-color: red;
}

.btn1 {

	background-color: #0033cc;	
	color: white;
	border-color: white;
	width: 180px;
	height: 50px;
	margin-left: 90px;
}

.btn1:hover {
  background-color: red;
}

.btn2 {

	background-color: #0033cc;	
	font-size: 20px;
	color: white;
	border-color: white;
	width: 280px;
	height: 50px;
}

.btn2:hover {
  background-color: red;
}

.btn3 {

	background-color: #0033cc;	
	font-size: 20px;
	color: white;
	border-color: white;
	width: 380px;
	height: 50px;
	margin-left: 450px;

}

.btn3:hover {
  background-color: red;
}

.nav-link {
	margin: 1px;
	text-align: center;
}
.nav-link:hover{
	color: red;
	
}

.breadcrumb {
	margin-top: 65px; 
}

.jumbotron {
 background-image: url("images/carga2.jpg");
 height: 550px;
 font-size: 50px;
 text-shadow: 2px 2px #ccffff;
color: white;
}

.container {
	margin-top: Opx;
	width: 100%;
	margin-left: 1px;
}

.ms-0 {
padding: 0px;	

}

.container2 {
	width: 100%;
}

.container-fluid {
	padding: 0;
}

.col-md-3 {
	margin-right: 20px;
	margin-top: 20px;
}

.border {
	border-color: #0033cc;
	margin-left: autp;
	margin-right: auto;
	width:  100%;
}

.tel {
	font-size: 35px;
	margin-left: 200px;
}

footer {
	background-color: #ecf2f9;
	height: 250px;
}

.footer1 {
	margin-left: 250px;
	margin-top: 50px;
	font-size: 20px;

}

.tel1 {
	font-size: 25px;
	margin-left: 500px;
}

.form-row{
	margin-top: 100px;
}