body{
	background-color: #2aabe4;
	margin: 0;
	padding: 0;
	width: 100%;

}



.btn {
	background-color: #9dc8e4;	
	color: #666b6e;
	border-color: white;
	width: 180px;
	height: 50px;
	margin-left: 200px;
	margin-top: 3px;
}

.btn:hover {
  background-color: #ffcd24;
  color: #33393d;
}

.btn1 {
	background-color: #9dc8e4;	
	color: #666b6e;
	border-color: white;
	width: 180px;
	height: 50px;
	margin-top: 3px;
}

.btn1:hover {
background-color: #ffcd24;
  color: #33393d;}

.btn2 {
	background-color: #9dc8e4;	
	color: #666b6e;
	border-color: white;
	width: 180px;
	height: 50px;
	font-size: 15px;
	margin-left: 10px;
}

.btn2:hover {
background-color: #ffcd24;
  color: #33393d;
}

.btn3 {
	background-color: #0033cc;	
	font-size: 20px;
	color: white;
	border-color: white;
	width: 380px;
	height: 50px;
	margin-left: 450px;
}

.btn3:hover {
  background-color: red;
}


.navbar {
	padding: 0;
	margin: 0;
	border-bottom-right-radius: 15px;
}

.navbar-brand { 
	margin-left: 9px;

}

.nav-link {
	margin: 10px;
	text-align: center;
}




.breadcrumb {
	margin-top: 55px; 
	background-color: #2aabe4;
}

.btnbread {
	margin-top: 1px;
	margin-left: 5px;
	background-color: #9dc8e4;
	border: 0;
	color: #666b6e;
	height: 40px;
	text-align: center;
}

.btnbread:hover{
	background-color: #ffcd24;
	border-bottom-right-radius: 15px;
	color: #33393d;
}
a {
	text-decoration: none;
	font-size: 13px;
	font-style: italic;
	color: #666b6e;
}

a:hover{
	color: #33393d;
}  





.jumbotron {
 background-image: url("images/carga2.jpg");
 height: 550px;
 font-size: 50px;
 text-shadow: 2px 2px #ccffff;
 color: white;
 margin-top: 2px;
 text-align: left;
}
.jumbo-title{
	margin-left: 20px;
	margin-top: 20px;
}

.jumbo-p {
	margin-left: 20px;
	margin-top: 20px;
}


.ms-0 {
padding: 0px;	

}


.container-fluid {
	padding: 0;
}

.col-sm-6 {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

.border {
	border-color: #0033cc;
	margin-left: autp;
	margin-right: auto;
	width:  100%;
}

.tel {
	font-size: 35px;
	margin-left: 200px;
}


.row {
margin-top: 20px;
margin-left: 5px;
margin-right: 5px;
}

.card-img-top {
	height: 650px;
}

.card {
	margin-right: 2px;
	margin-bottom: 10px;
}

.texto-img {
	font-size: 70px;
	color: #2aabe4;
	text-align: center;
	margin-top: 100px;
}
footer {
	background-color: #ecf2f9;
	height: 250px;
}

.footer1 {
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

.tel1 {
	font-size: 25px;
	margin-top: 20px;
	margin-left: 20px;
}

.form-row{
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.form-group {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}